@import '/node_modules/normalize.css/normalize.css';

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-sizing: border-box;
}

h1, h2, p {
  text-align: center;
}

h2 {
  margin-top: 30px;
}

.user-list {
  text-align: center;

  .user {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    border: 1px solid grey;

    ul {
      width: 100%;
      list-style: none;

      li {
        line-height: 120%;
        text-align: left;
      }
    }
  }
}
